{% extends 'base.html' %}

{% block content %}
    <h1 style="margin-left:800px; margin-top:300px; ">Tweeter Searcher</h1>
    <ul style="margin-left:770px; margin-top:50px;">
        <form action="/search" method="POST" class="form-inline">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <input type="text" class="form-control mr-4" name="query">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </ul>

{% endblock %}
